
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    background-color: #eef7fe;
    font-family: "Nunito Sans", sans-serif;

}

.header-section{
    background: #252679;
border-radius: 10px;
display: flex;
width:fit-content;
    margin: auto;
padding: 10px;
margin-top: 15px;

}
#download{
    margin-top: 17px;

}
.header-section a{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #e6600e;
    border-radius: 17px;
}

.follow-section img{
    width: 12%;
}
.social-section div .social {
    text-decoration: none;
    color: black;

}
.social div{
    padding: 20px;
    background-color: white;
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 20px;
border-radius: 15px;
font-weight: 600;
font-size: 22px;
margin-bottom: 10px;
}
.social div img{
    margin-right: 7px;
}
footer{
    border-top: 1px solid black ;
    width: 27%;
    margin: auto;
}

footer p{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-style: italic;
    
}

.border{
    background-color: #e6600e;
}


    @media screen and (max-width: 1200px){
        .social div{
          
            width: 46%;
            margin-bottom: 10px;
           
        }
        footer {
            border-top: 1px solid black;
            width: 35%;
            margin: auto;
        }
       
    }

    @media screen and (max-width: 768px){

        .follow-section img{
            width: 30%;
        }

        .social div{
          
            width: 100%;
           margin-bottom: 10px;
        }
        .header-section{
       
        display: flex;
        width:100%;
        justify-content: space-between;
        margin: 0;
        margin-top: 15px;
          
        }
        footer {
            width: 90%;
            
        }
        .header-section a {
            
            font-size: 10px;
            
        }
        
    }
    @media screen and (max-width: 345px){
       
        .social div {
         
            font-size: 18px;
            margin-bottom: 10px;
        }
        .header-section a {
          font-size: 8px;
        }
        .follow-section img{
            width: 36%;
        }
    }

   